/*LE PONEOS FUENTE A LAS VISTAS*/
*{
    font-family: 'Open Sans';
}


/* ---------------- ESTILO DEL INICIO DE SESION  ------------ */

/*----------ESTILO DEL NAV (SERÁ PARECIDO AL RESTO DE VISTAS)-------*/
div.nav{
    background-color: #1274CA;
    height: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 35px;
}

img#logo{
    width: 235px;
    height: 103px;
}

div.titulo{
    margin-left: 250px; 
    margin-top: 35px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 42px;
    color: white;
}


/*-----------ESTILO DEL MAIN ---------*/

h1#presentacion{
    text-align: center;
    color: #014179;
    text-decoration: underline; 
}

div#divform{
    border-radius: 8px;
    border: 4px solid #014179;
    margin: 0 auto;
    padding: 55px;
    width: 600px;
    /* text-align: center; */
    height: 250px;
}

label.label{
    color: #006DA4;
    font-size: x-large;
    font-weight: bold;
    /* margin-top: 75px; */
}

input.input{
    border: 0px;
    border-bottom: 2px solid #006DA4;
    width: 292px;
    font-size: x-large;
    color: #408CCE;
    margin-left: 20px;
}

input#submit{
    background-color: #1274CA;
    font-weight: bold;
    font-size: large;
    color: white;
    border-radius: 4px;
    border: 2px solid #014179;
    padding: 10px;
    margin-left: 215px;
    width: 170px;
    height: 56px; 
    cursor: pointer;
}


#div_login{

    width: 340px;
    height: 80px;
    background-color: #A9ADE8;
    border-radius: 7px;
    border: 4px solid white;
    position: absolute;
    margin-left: 450px;
    padding-left: 20px;
    padding-top: 10px;
}

div#div_login a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: x-large;
}

div#div_login img{

    width: 40px;
    height: 40px;
    position: relative;
    top: 16px;
}


/* ---------------- ESTILO DE INDEX DE LOS USUARIOS  ------------ */
  
/*-------ESTILO DEL NAV (SERÁ PARECIDO AL RESTO DE VISTAS)----*/
div.nav{
    background-color: #1274CA;
    height: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
}

img#logo{
    width: 235px;
    height: 103px;
}

div.titulo{
    margin-left: 250px; 
    margin-top: 25px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 42px;
    color: white;
}

/*------ESTILO DEL MAIN ----*/

div.horario{
    margin-top: 50px;
    border: 2px solid #DD890D;
    height: 400px;  
}


img.user_image{
    border-radius: 100px;
    margin-left: 20px;
    margin-top: 15.5px;
}



/* ---------------- ESTILO DE LA VISTA PARA AÑADIR USUARIOS  ------------ */
  

/*-------------------ESTILO DEL NAV (SERÁ PARECIDO AL RESTO DE VISTAS)------------*/
div.nav{
    background-color: #1274CA;
    height: 115px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
}

img#logo{
    width: 235px;
    height: 103px;
}

div.titulo{
    margin-left: 250px; 
    margin-top: 25px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 42px;
    color: white;
}

/*-------------------ESTILO DEL NAV SECUNDATRIO (SERÁ PARECIDO AL RESTO DE VISTAS)------------*/
div.nav2{
    background-color: #408CCE; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    height: 85px;
    margin-top: 7px;
}

div.nav2 div{
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

div.liespecial{
    font-weight: bold;
    color: #014179;
    text-decoration: underline; 
}


/*-------------------ESTILO DEL MAIN ------------*/
div.anadirusuarios{
    width: 530px;
    /* height: 613px; */
    /* height: auto; */
    position: absolute;
    border: 4px solid #408CCE;
    /* margin: 0 auto; */
    padding: 24px;
    margin-top: 16px;
    left: 400px;
}

span.mensaje_validacion{
    color: red;
    font-weight: bold;
}

h1#tituloform{
    color: #DD890D;
    margin: 0 auto; 
    margin-bottom: 71px;
    text-align: center;
}

label.label_anadirusuarios{
    font-weight: bold;
    color: #014179;
    font-size: x-large;
    margin-top: 27px;
}

input.input_anadirusuarios{
    border: 0px;
    border-bottom: 2px solid #DD890D; 
    width: 220px;
    margin-left: 10px;
    font-size: large;
}

input.btncancelar1, input.btnaceptar1{
    margin-top: 30px;
    width: 91px;
    height: 50px;
    font-weight: bold;
    border-radius: 4px;
    border: 2px solid;
    color: white;
    cursor: pointer;
}

input.btncancelar1{
    float: left;
    background-color: #014179;
}

input.btnaceptar1{
    float: right;
    background-color: #408CCE;
}

.empty{
    font-weight: bold;
    color: red;
}









/* ---------------- ESTILO DE LA VISTA DE GESTION DE USUSARIOS DONDE APARECEN LOS USUARIOS DE LA APLICAICON Y DESDE DONDE 
EL ADMINISTRADOR PEUDE AÑADIR A NUEVOS USUARIOS  ------------ */

/*-------------------ESTILO DEL NAV (SERÁ PARECIDO AL RESTO DE VISTAS)------------*/
div.nav{
    background-color: #1274CA;
    height: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 25px;
}

img#logo{
    width: 160px;
    height: 97px;
}

div.titulo{
    margin-left: 170px; 
    margin-top: 16px;
    /* text-align: center; */
    font-weight: bold;
    font-size: 42px;
    color: white;
}

/*-------------------ESTILO DEL NAV SECUNDATRIO (SERÁ PARECIDO AL RESTO DE VISTAS)------------*/
div.nav2{
    background-color: #408CCE; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    height: 85px;
    margin-top: 7px;
}

div.nav2 div{
    margin: 10px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}

div.liespecial{
    font-weight: bold;
    color: #014179;
    text-decoration: underline; 
}


/*-------------------ESTILO DEL MAIN ------------*/ç

div.thead{
    width: 700px;
    height: 75px;
    margin: 0 auto;
    background-color: #dd890D;
    margin-top: 25px;
    color: #408CCE;

}

h1.div.thead {
    color: #DD890D;
}

table.tabla_usuarios{
    width: 650px;
    height: 200px;
    margin-top: 26px;
    border: 2px solid black;
    /* border-collapse: separate; */
    color: #006DA4;
    margin: 0 auto;
    font-weight: bold;
    /* text-align: center; */
}

div.tabla_usuarios tr,td{
    font-size: x-large;
    /* border: 1px solid; */
    text-align: center;
} 


button{
    margin-top: 50px;
    background-color: white;
    border: 0px solid white;
    margin-left: 1100px;
}

img.imgbtn{
    width: 45px;
    height: 45px;
}

.imgdelete{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    display: inline;
}

.warning_message{
    color: red;
}


.importar_users{
    position: relative;
    left: 40px;
}

div.div_excel{

    width: 470px;
    height: 190px;
    border-radius: 5px;
    border: 2px solid #86C473;
    background-color: #B6F5A4;
    padding: 10px;
    margin-left: 400px;
}

div.div_excel h2{
    color: #4CA32D;
}

h1#users{
    text-align: center;
    color: #014179;
    text-decoration: underline; 
}


/*------------------------------------ESTILO DE GESTIÓN DE PROFESORES (CONSULTA DE PROFESORES)----------------------*/
div.lista_profesores{
    color: #1274CA; 
    margin-left: 400px; 
    margin-top: 50px; 
    font-size: xx-large;
}

h1#titulo_profesores{
    color:#DD890D;
    text-align: center; 
    font-weight: bold;
}






